<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481767989620-lv8iq8ks18lk150tqfqairgm1q134ode.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481767989620-lv8iq8ks18lk150tqfqairgm1q134ode</string>
	<key>API_KEY</key>
	<string>AIzaSyAVGOeYee8es86o5TM0DRwaf6zDTesVJK8</string>
	<key>GCM_SENDER_ID</key>
	<string>481767989620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Geekay</string>
	<key>PROJECT_ID</key>
	<string>geekay-e40d5</string>
	<key>STORAGE_BUCKET</key>
	<string>geekay-e40d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481767989620:ios:d3a157d4d22bac761d8c21</string>
</dict>
</plist>